*{
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
}
body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #efefef;
}

.container{
    background: url("../images/bgfood.png");
    display: block;
    box-sizing: border-box;
    height: auto;
    overflow: hidden;
}
.container .heada{
    margin: 19px;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    padding: 10px 20px;
    
}
.container .heada h2{
font-family: "Cookie", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
}
.container .sub-head{
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
    text-align: center;
    color: #ffc107;
}
.main .menu{
    margin-bottom: 28px;
}
.d-flex .col1{
    background-color: #ffc107;
    border-radius: 4px;
}
 .d-flex .col3{
    width: 4%;
    margin-left: 10px;
    text-align: right;
 }
 .d-flex .card{
    padding: 0;
    background-color: transparent;
    border: 0;
    margin-left: 16px;
    width: 95%;
    color: #fff;
 }
 .d-flex .card .card-body{
    padding: 0;
 }

 .col2 .d-flex p{
    padding: 2px;
    margin: 0;
 }

  input[type="checkbox"]:checked {
            background-color: #ffc107;
            border: 1px solid #ffc107;
        }
        input[type="checkbox"]:checked::after {
            content: "";
            position: absolute;
            left: 5px;
            top: 1px;
            width: 6px;
            height: 12px;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
        }
         input[type="checkbox"] {
            width: 10px;
            height: 10px;
            appearance: none;
            -webkit-appearance: none;
            background-color: #e0e0e0;
            border: 1px solid #ccc;
            border-radius: 2px;
            cursor: pointer;
            position: relative;
        }
       
.divider span, .divider p{
    color: #ffc107;
    font-weight: 400;
    padding: 0;
    margin: 0;
    font-size: 18px;
}
.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ffc107; /* Adjust color as needed */
  margin: 0 10px; /* Adjust spacing around the text */
}

.footer{
    background-color: #d7d7d7;
    padding: 6px;
}
